.list-wrapper {
	max-height: calc(~"100% - 58px");
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 25px;
	&::-webkit-scrollbar-thumb {
	  background: rgba(255, 255, 255, 0.5);
	}
}

.list-wrapper::-webkit-scrollbar {
    width: 10px;
}
.list-wrapper::-webkit-scrollbar-track {
    opacity: 0;
}

.list-wrapper::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.2s;
}

.server-stats {
	font-size: 30px;
	padding: 8px 20px;
}
.server-item {
	padding: 20px;	
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  	transition: all 0.2s;

	&:hover, &:active, &.active {
		background-color: rgba(255, 255, 255, 0.05);
		border-top: 1px solid rgba(255, 255, 255, 0.07);
		transition: all 0.2s;
	}

	.server-image {
		position: relative;
		max-width: 200px;
		max-height: 114px;
	}

	.server-image > img {
		border: 2px solid rgba(255, 255, 255, 0.8);
	}

	.server-details {
		padding: 20px 0;
		.name {
			font-size: 26px;
			font-weight: bold;
		}

		.eldewrito-version {
			font-size: 20px;
			margin-left: 10px;
			.glyphicon {
				font-size: 15px;
			}
		}
	}

	.server-extra {
		.playercount {
			font-size: 41px;
			font-weight: bold;
			padding: 10px 0;
			display: block;
			text-align: right;
		}
	}

	&.passworded .server-image:before {
		content: " ";
		display: block;
		background: rgba(0, 0, 0, 0.59) url(/img/passworded.png) no-repeat 50% 50%;
		background-size: 15%;
		position: absolute;
		padding: 0;
		margin: 0;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
	}
}

.no-servers {
	text-align: center;
	padding-top: 50px;
	background: url(../img/no-servers.png) no-repeat center center;
	height: 100%;
	position: absolute;
	width: 100%;
	font-size: 26px;
}

.overlay[data-id=gameservers]  {
    width: 76vw;
    height: 80vh;
    top: 10vh;
    left: 17vw;
    padding: 0;
    background: rgba(20, 20, 32, 0.6);
}