.menu-panel {
    position: absolute;
    left: 140px;
    bottom: 180px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    transition: left 1s ease;
    overflow: hidden;
    background: url(/img/eldorito-logo.png) no-repeat 13px top;
    padding-top: 95px;
    letter-spacing: 0.2px;
    max-height: 402px;
    min-height: 381px;

    .eldorito {
        font-size: 29px;
        background: -webkit-linear-gradient(#E8E8E9, #b7b7b8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 10px;
    }

    .menu {
        list-style: none;
        padding-left: 0;
        width: 280px;
        transition: width 1s ease;
        overflow: hidden;
        &.reveal {
            width: 0px;
            .back {
                overflow: hidden;
                visibility: hidden;
                width: 80px;
                display: none;
            }
        }
        
        li:not(.back) {
            padding-left: 10px;
            padding: 9px 45px 8px 5px;
            line-height: 0.8;
            border-left: 5px solid transparent;
            transition: padding 0.3s, background 0.1s;
            width: 230px;

            &.active, &:hover, &:active {
                background: rgba(155, 212, 252, 0.08);
                padding-left: 20px;
                padding-right: 13px;
                border-left: 5px solid rgba(255, 255, 255, 0.2);
                transition: padding 0.3s, background 0.1s;
            }
        }

        .back {
            opacity: 0; 
            visibility: hidden;
            transition: opacity 0.2s; 
            display: inline-block;
            &:hover {
                color: #a1a1a1;
                text-shadow: 0px 1px 1px black;
                transition: all 0.2s;
            }
        }
    }
}

body[data-menu=gameservers] .menu-panel,
body[data-menu=profile] .menu-panel {
    left: 10px;
}

body[data-menu] .menu-panel .menu .back {
    margin-left: 159px; 
    opacity: 1;
    visibility: visible;
}