.menu-panel {
    position: absolute;
    left: 200px;
    bottom: 200px;
    color: white;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
}

.menu-panel .menu {
    list-style: none;
    padding-left: 0;
}

.menu-panel .menu li {
    padding-left: 10px;
    padding: 9px 45px 9px 19px;
    line-height: 25px;
    border-left: 5px solid transparent;
    transition: padding 0.3s, background 0.1s;
}

.menu-panel .menu li.active,
.menu-panel .menu li:hover,
.menu-panel .menu li:active {
    border-left: 5px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.08);
    padding-left: 40px;
    padding-right: 13px;
    transition: padding 0.3s, background 0.1s;
}