<template name="CreditOverlay">
    <div class="overlay" data-id="credits">
        <div class="credits pop">
            <h1 class="heading">Credits</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-6 left-col">
                    Menu Style
                </div>
                <div class="col-xs-12 col-sm-6 right-col">
                    Limited
                </div>
            </div>            
            <div class="row">
                <div class="col-xs-12 col-sm-6 left-col">
                    Tons of shit &amp; Real Time Game Server List, Master Server Sync, ETC
                </div>
                <div class="col-xs-12 col-sm-6 right-col">
                    SpartanCPP^DARKC0DE
                </div>
            </div>
        </div>
    </div>
</template>
