<template name="DirectConnect">
	<div class="overlay" data-id="directConnect">
		<div class="bg"></div>
		<div class="content">

			<div class="popup-heading">Direct Connect</div>

			<div class="form">
				<div class="form-group">
					<input type="text" class="form-control" id="directConnectIP" placeholder="Server IP">
				</div>
				<button type="submit" class="btn btn-default connect">Connect</button>
				<button type="submit" class="btn btn-default cancel">Cancel</button>
			</div>

		</div>
	</div>
</template>