<template name="ListServers">
    <div class="overlay" data-id="gameservers">
        <div class="server-stats">
            {{playerCount}} Players - {{serverCount}} Servers
        </div>
        <div class="list-wrapper">
            {{#each server}}
            <div class="row server-item {{#if data.passworded}} passworded{{/if}}" data-ip="{{ip}}">
                <div class="col-xs-12 col-sm-2">
                    <div class="server-image gametype-{{lower data.variantType}}">
                        <img src="/img/maps/{{data.mapFile}}.jpg" width="200" height="100" class="img-responsive"/>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-8 server-details">
                    <div class="first-row">
                        <span class="name">{{data.name}} 
                        <span class="gametype">{{data.variant}}</span> on <span class="map">{{data.map}}</span> 
                        - by {{data.hostPlayer}}</span> <span class="status {{data.statsClass}}">{{data.stats}}</span>
                    </div>

                    <div class="second-row">
                        <img class="flag flag-{{lower geoIP.country}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" title="{{geoIP.country}}" alt="{{geoIP.country}}" /> {{geoIP.city}} 
                        <span class="ping">{{pingGameServer ip}}</span> 
                        <span class="eldewrito-version"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{data.eldewritoVersion}}</span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2 server-extra">
                    <span class="playercount">{{data.numPlayers}}/{{data.maxPlayers}}</span>
                </div>
            </div>
            {{ else }}
                <div class="no-servers">
                    Could not find any servers
                </div>
            {{/each}}
        </div>
    </div>
</template>
