<template name="Lobby">
	<div class="overlay" data-id="lobby">
		<div class="bg"></div>
		<div class="content">
<!--     Lobby here
	<a href="#">Join Game</a>

	<span class="name">{{serverData.name}} 

	  <span class="gametype">{{serverData.variant}}</span> on <span class="map">{{serverData.map}}</span> 
	  - by {{serverData.hostPlayer}}</span> <span class="status {{serverData.statsClass}}">{{serverData.stats}}</span>
	  {{geoIP.city}} 
	  <span> {{serverData.eldewritoVersion}}</span>
	  <span class="ping">{{pingGameServer ip}}</span> 

	 {{lobbyID}}

	  -->
		<h1>Lobby</h1>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="lobby-col-left">
					<div class="server-image gametype-{{lower serverData.variantType}}">
					    <img src="/img/maps/{{serverData.mapFile}}.jpg" width="465" height="262" class="img-responsive"/>
						
					</div>

					<div class="server-info">
						<h2>
							<img class="flag flag-{{lower geoIP.country}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" title="{{geoIP.country}} - {{geoIP.city}}" alt="{{geoIP.country}}" />
							<span class="server-name">{{serverData.name}}</span>
						</h2>

						<span class="playercount">{{serverData.numPlayers}}/{{serverData.maxPlayers}}</span>
						<span class="gametype">{{serverData.variantType}}</span> on <span class="map-name">{{serverData.map}}</span>
						<span class="eldewrito-version"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{serverData.eldewritoVersion}}</span>
					</div>
					<span class="">Server List</span>
					<span class="connect" data-ip="{{serverData.ip}}">Connect</span>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<span class="status {{serverData.status}}">{{serverData.status}}</span>
						</div>

						<div class="col-xs-12 col-sm-8">
							<div class="highlight-player">
								<h3>Top Player</h3>
								<span class="name dead">Limited</span>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<canvas id="lobbyChart" width="100" height="100"></canvas>
									</div>
									<div class="col-xs-12 col-sm-6">
										<span class="stat"><span class="value">2</span>SCORE</span>
										<span class="stat"><span class="value">4</span>ASSISTS</span>
										<span class="stat"><span class="value">17</span>KILLS</span>
										<span class="stat"><span class="value">8</span>DEATHS</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="team-weighing">
						<div class="team-1">Red Team</div>
						<div class="team-2"></div>
					</div>        
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-6 lobby-col-right">
				<div class="player-list-container">
					Players <span class="playercount">{{serverData.numPlayers}}/{{serverData.maxPlayers}}</span>

					<ul class="player-list">
						{{#each serverData.players}}
							{{#if notNull name }}
							<li class="{{ teamColour team }}">{{name}} - {{kills}}</li>
							{{/if}}
						{{ else }}
						<div class="no-servers">
						Could not find any players
						</div>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

</template>






