<template name="PlayerSearch">
	<div class="overlay" data-id="playerSearch">
		<div class="bg"></div>
		<div class="content">

			<div class="popup-heading">Player Search</div>

			<div class="form">
				<div class="form-group">
					<input type="text" class="form-control" id="playerName" placeholder="Player name">
				</div>
				<button type="submit" class="btn btn-default search">Search</button>
				<button type="submit" class="btn btn-default cancel">Cancel</button>
			</div>
			<ul class="player-list"></ul>
		</div>
	</div>
</template>