<template name="Settings">
    <div class="overlay" data-id="settings">
        <div class="list-wrapper">
            <h1 class="heading">Settings</h1>
            <p class="intro">To run a command, click the text area and hit enter. To save a setting, type your new setting and hit enter.</p>
            <div class="settings-wrapper">
                {{#each setting}}
                    <div class="row input-group">
                        <div class="col-xs-12 col-sm-4">
                            <span class="input-group-addon">{{this.command}}</span>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" class="form-control" data-command="{{this.command}}" placeholder="{{this.help}}" value="{{this.value}}" title="{{this.help}}">
                        </div>
                    </div>
                {{else}}
                <div class="no-settings">
                     Not settings to load, please make sure Eldorito is running
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
