<template name="Splash">
    <div class="menu-panel">
        <span class="eldorito">Eldewrito {{Dew_Version}}</span>
        <ul class="menu reveal">
            <li data-menu="profile">{{Dew_Player_Name}} <strong>New</strong></li>
            <li data-menu="gameservers">Play Multiplayer</li>
            <li data-menu="stats">Realtime Stats</li>
            <li data-menu="settings">Settings</li>
            <li data-menu="credits">Credits</li>
            <li data-menu="masterservers">Master Servers</li>
            <li class="exit-menu">Exit Menu</li>
            <li class="back">&lt; Back</li>
        </ul>
    </div>
    <a class="alpha" href="https://github.com/ElDewrito/DoritoMenu" title="Found a bug? Create a bug report on GitHub!">Alpha Menu</a>
</template>
