<template name="Splash">
    <div class="menu-panel">
        <span class="eldorito">{{#if gameRunning}}Eldewrito {{Dew_Version}}{{else}}Open Eldewrito{{/if}}</span>
        <ul class="menu reveal">
            {{#if gameRunning}}
            <li data-menu="matchmaking">Matchmaking</li>
            {{/if}}
            <li data-menu="gameservers">Server List</li>
            <li data-menu="stats">Stats</li>
            {{#if gameRunning}}
                <li data-menu="settings">Settings</li>
            {{/if}}
            <li data-menu="credits">Credits</li>
            <li class="debug" data-menu="masterservers">Master Servers</li>
            {{#if gameRunning}}
                <li class="exit-menu">Exit Menu</li>
            {{/if}}
            <li class="back">&lt; Back</li>
        </ul>
    </div>
    <a class="alpha" target="_blank" href="https://github.com/ElDewrito/DoritoMenu" title="Found a bug? Create a bug report on GitHub!">Alpha Menu</a>
    {{#if gameRunning}}
        <span class="player_name">Welcome {{Dew_Player_Name}}</span>
    {{/if}}
</template>
