<template name="Splash">
    <div class="menu-panel">
        <span class="eldorito">
        Eldewrito {{Dew_Version}}
        <br />
        {{Dew_Player_Name}}
        </span>
        <ul class="menu reveal">
            <li data-menu="gameservers">Play Multiplayer</li>
            <li data-menu="stats">Realtime Stats</li>
            <li data-menu="settings">Settings</li>
            <li data-menu="credits">Credits</li>
            <li data-menu="masterservers">Master Servers</li>
            <li class="exit-menu">Exit Menu</li>
            <li class="back">&lt; Back</li>
        </ul>
    </div>
    <span class="alpha">Alpha Menu</span>
</template>
